#product-overview {
  /* default gradients from top to bottom */
  /* background-image: linear-gradient(to bottom, red, blue); */
  /* background-image: linear-gradient(180deg, red, blue, green, yellow); */

  /* you can define percentages for each color, after which the transition to 
  the next color begins */
  /* background-image: linear-gradient(180deg, red 70%, blue, rgba(0, 0, 0, 0.6)); */

  /* positioned in middle by default, and is an ellipse */
  /* background-image: radial-gradient(red, blue, green); */

  /* background-image: radial-gradient(circle 20px at center, red, blue, green); */

  /* style the width and height of ellipse 
  farthest-side: outermost of blue will touch farthest side*/
  /* background-image: radial-gradient(
    ellipse farthest-side at left,
    red,
    blue,
    green
  ); */

  /* background-image: radial-gradient(
    ellipse farthest-corner at 20% 50%,
    red,
    blue,
    green
  ); */
  /* this shorthand combines:
	  background: url('freedom.jpg');
		background-position: left 10% bottom 20%;
  	background-size: cover;
		background-repeat: no-repeat;
  	background-clip: border-box;
  	background-attachment: fixed;
	*/
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url('images/freedom.jpg') left 10% bottom 20% / cover no-repeat border-box,
    red;
  /* shorthand: could also use background-image */
  /* background: url('freedom.jpg'); */

  /* will ensure that the container is always completely filled;
	it will crop the image, however */
  /* background-size: cover; */

  /* offsets the image by <x+val, y+val> OR <x+xval, y+yval>; */
  /* background-position: 10px 15px; */

  /* dictates cropping distribution */
  /* background-position: 0% 10%; */

  /* center => background-position: 50% 50%; */
  /* background-position: center; */
  /* background-position: left bottom; */
  /* background-position: left 10% bottom 20%; */
  /* ensures ENTIRE IMAGE is displayed in the container */
  /* background-size: contain; */

  /* background image will be repeated to fill space */
  /* background-size: 100%; */
  /* turn off repeating */
  /* background-repeat: no-repeat; */
  /* turn on repeating: x-axis */
  /* background-repeat: repeat-x; */
  /* turn on repeating: y-axis */
  /* background-repeat: repeat-y; */
  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 43px;

  /* border: 5px dashed red; */
  /* defines container for the background */
  /* background-origin: border-box; */
  /* background-origin: content-box; */
  /* background-origin: padding-box; */

  /* define where image should be clipped, if necessary */
  /* before padding */
  /* background-clip: padding-box; */
  /* after padding */
  /* background-clip: content-box; */

  /* background-clip: border-box; */

  /* defines how the image scrolls with the content */
  /* background-attachment: fixed; */
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

/* h1 {
    font-family: sans-serif;
} */
