* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.main-header {
  /* we want the header to take the full page width */
  width: 100%;
  /* it should not move */
  position: fixed;
  /* x-coordinate */
  left: 0;
  /* y-coordinate */
  top: 0;
  /* background */
  background: #2ddf5c;
  /* padding: 8px vertically, 16px horizontally */
  padding: 8px 16px;
}

/* any divs directly descendent from a main-header */
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  /* color of the text */
  color: #0e4f1f;
  /* remove the stupid underline */
  text-decoration: none;
  /* make it bolder */
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.nav-links,
.nav-link {
  margin: 1em;
}

button a {
  font-style: inherit;
  background-color: red;
}

li {
  list-style: none;
  display: inline;
}
