* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: hsl(118, 94%, 34%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

ul {
  text-align: left;
  display: inline-block;
}

.nav-links,
.nav-link {
  margin: 1em;
}

button a {
  font-style: inherit;
  background-color: red;
}

li {
  list-style: none;
  display: inline;
}
